.chat-nav-main-wrapp {
    /* Прямоугольник 2 */
    /* position: absolute; */
    width: 518px;
    /* height: 66px; */
    margin-left: 0;
    margin-top: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 123, 255); */
    border-radius: 20px;
    background: rgb(0, 0, 0);
    /* margin-bottom: 36px; */
    display: flex;
}

.chat-nav-main-wrapp:hover {
    background-color: #333333;
}

.chat-nav-main-wrapp-img {
    /* Прямоугольник 2 */
    /* position: absolute; */
    width: 64px;
    height: 64px;
    margin-left: 0;
    margin-top: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 123, 255); */
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.chat-nav-main-wrapp-name,
.chat-nav-main-wrapp-status {
    /* Nickname */
    /* position: absolute; */
    margin-left: 64px;
    width: 227px;
    height: 32px;
    left: 64px;
    right: 227px;
    top: 0;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;


}