.left-bar-header-wrapp {
    display: flex;
    padding-bottom: 36px;
}

.left-bar-header-wrapp-search {
    /* Прямоугольник 2 */
    /* position: absolute; */
    width: 388px;
    height: 64px;
    left: 126px;
    top: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: medium;
    text-align: center;
    background: none;
}

.left-bar-header-wrapp-search:hover {
    background: rgb(51, 51, 51);
    border: 1px solid #007BFF;
}

.left-bar-header-wrapp-menu {
    /* Прямоугольник 2 */
    /* position: absolute; */
    width: 64px;
    height: 64px;
    margin-right: 36px;
    top: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(51, 51, 51); */
    background: none;
}

.left-bar-header-wrapp-menu:hover {
    border: 1px solid #007BFF;
    background: #333;
}

.left-bar-header-wrapp-search-img {
    width: 64px;
    height: 64px;
    margin-left: 36px;
    top: 30px;
    box-sizing: border-box;
    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(51, 51, 51); */
    background: none;
    
}

.left-bar-header-wrapp-search-img:hover {
    background: #333;
    border: 1px solid #007BFF;
}

.left-bar-header-wrapp-search-img-icon {
    width: 40px;
    height: 40px;
}

.chats-bar-wrapp {
    padding: 36px;
    width: 644px;
    height: 902px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 123, 255);
    border-radius: 20px;
    /* overflow-y: scroll; */
    background: rgb(0, 0, 0);
}

.chats-bar-wrapp-scroll {
    height: 760px;
    overflow-y: scroll;
}