.main-wrapp {
    /* Прямоугольник 2 */
    /* position: absolute; */

    width: 1764px;
    height: 931px;
    /* margin-left: 78px;
margin-top: 74px; */
    box-sizing: border-box;
    border: 3px solid #E7FF8F;
    border-radius: 25px;    

    background: #141318;
    display: flex;
}